<div class="row">
  <div class="column">
    <p><%= link "← go back", to: "/" %></p>
    <h2>Palindrome Results</h2>

    <p>string: <%= @x %></p>
    <p>Is Palindrome?: <%= @y %></p>
  </div>
</div>
